@import 'navbar-fixed-side';

body {
  background-color: rgb(15, 16, 18);
  color: rgb(130,135,140);
};

.navbar-default {
  background-image: linear-gradient(to bottom, rgb(15, 16, 18) 0%, rgb(15, 16, 18) 100%);
}

h2, h3, h4, h5, h6 {
  color: rgb(204,205,207);
}

.navbar-brand {

}

.navbar {
  background: rgb(7, 7, 9);
  border: 0px;
}

.navbar-nav>li>a, .navbar-brand {
  text-shadow: none;
}

.btn-info {
  background-image: none;
  background-color: #1b1c21;
}

.btn-info:hover {
  background-image: none;
  background-color: #0f1014;
}

.resume-work-title {
  margin-bottom: 0px;
}

.resume-work-list {
  margin-top: 2px;
  padding-left: 20px;
}
