<h2>What I'm Working On - Last Updated 11-12-2016</h2>
<h3>Working on Now</h3>
<ul>
	<li>School projects - designing a simple robot arm, <a target="_blank" href="https://github.com/TIPLine/TIP-Line">this</a> Android app for <a target="_blank" href="https://en.wikipedia.org/wiki/Airline_Ambassadors_International">Airline Ambassadors International</a></li>
	<li>A server plugin to replay <a target="_blank" href="http://playcomp.tf/">competitive TF2</a> games. This will allow players to record their games and review them together in sync. <a target="_blank" href="https://github.com/mikeadkison/tf2playback">Github repository</a></li>
</ul>
<h3>Working on In The Future</h3>
<ul>
	<li>Continue work on <a target="_blank" href="https://github.com/asiudhgfiuashgiuashg/fantasy-coop-game">the video game</a></li>
</ul>
