<h2>Contact Info</h2>
<p>
  My email is protected from spam bots by Google's recaptcha. Click on the first part of the email and fill out the recaptcha to see my full email.
</p>
<a href="http://www.google.com/recaptcha/mailhide/d?k=01XrZ0mLqdL7kAoAnIltvhjg==&amp;c=ztzz7P7rC0MnF4I65Aab2LZqw3jGvoChS9pNJwMcHNE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01XrZ0mLqdL7kAoAnIltvhjg\x3d\x3d\x26c\x3dztzz7P7rC0MnF4I65Aab2LZqw3jGvoChS9pNJwMcHNE\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address" class="main-link">m...</a>@gmail.com
<p>
  919-413-4850
</p>


