<h2>Hobbies</h2>
<p>Aside from programming projects, I do a couple other things with my time.</p>
<h3>Team Fortress 2</h3>
<p>Since November of 2015, I have played <a href="https://en.wikipedia.org/wiki/Team_Fortress_2" target="_blank">TF2</a> competitively on various teams. Right now, I play on two teams concurrently. One team, which I lead, plays a 6v6 (6 players on each team) version of the game, while my other team plays a 9v9 format. I consider TF2 to be the best game in the world, and it seems unlikely to me that a better game will be released even in the next couple decades. If you are interested in playing competitive TF2, check out <a href="http://playcomp.tf/" target="_blank">playcomp.tf</a> for info on how to get started.</p>
<p>
<img src="images/tf2/tf2.jpg">
</p>
<p>
Here's an awesome video of a caster commentating one of my team's matches if you want to get an idea of what the game looks like:
<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/lPDE1PBxATM" frameborder="0" allowfullscreen></iframe>
</p>
<h3>Quadcopters</h3>
<p>For several years at the beginning of college, I built and flew quadcopters. What follows is chronology of all of the quadcopters that I've had.</p>
TODO
