<h2>Hobbies</h2>
<p>Aside from programming projects, I do a couple other things with my time.</p>
<h3>Team Fortress 2</h3>
<p>Since November of 2015, I have played <a href="https://en.wikipedia.org/wiki/Team_Fortress_2" target="_blank">TF2</a> competitively on various teams. Right now, I play on two teams concurrently. One team, which I lead, plays a 6v6 (6 players on each team) version of the game, while my other team plays a 9v9 format. I consider TF2 to be the best game in the world, and it seems unlikely to me that a better game will be released even in the next couple decades. If you are interested in playing competitive TF2, check out <a href="http://playcomp.tf/" target="_blank">playcomp.tf</a> for info on how to get started.</p>
<p>
<img src="images/tf2/tf2.jpg">
</p>
<p>
Here's an awesome video of a caster commentating one of my team's matches if you want to get an idea of what the game looks like:
<p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/lPDE1PBxATM" frameborder="0" allowfullscreen></iframe>
</p>
<h3>Quadcopters</h3>
<p>For several years at the beginning of college, I built and flew quadcopters. What follows is chronology of all of the quadcopters that I've had.</p>
<h4>Hoten X</h4>
<p>My first quadcopter. About 400mm diagonally. It has metal arms and body and a plastic body cover. It came ready-to-fly from Singapore. I had to buy another charger since the one it came with didn't charge the battery. It came with the Devo 7 Radio which I used for my next quadcopter. I taped a <a target="_blank" href="https://en.wikipedia.org/wiki/Flip_Video">flip camera</a> to it to get shaky aerial footage</p>
<img src="images/quadcopters/hoten-x.jpg">
<h4>Knuckle Quad</h4>
<p>My next quadcopter was on a wooden frame (400mm diagonal) held together by plastic pieces. The frame was made by <a target="_blank" href="http://flitetest.com/articles/knuckle-h-quad">Flite Test</a>. I bought the electronics for this one separately from HobbyKing and assembled the quadcopter myself. It was more powerful than my previous one and very stable in the air.</p>
<img src="images/quadcopters/wooden_quad1.jpg">
<img src="images/quadcopters/wooden_quad_snow.jpg">
<p>Eventually, I bought a small camera and video transmitter along with some video goggles which had a built-in video receiver. I put the camera on the knuckle quad and was able to fly in first-person, similar to flying a plane from the cockpit. I also bought a gadget which moved the camera on two axes in response to my head movements (detected by the goggles), so I was able to look around while flying.</p>
<figure>
	<img src="images/quadcopters/camera.JPG">
	<figcaption>The camera.</figcaption>
</figure>
<img src="images/quadcopters/wooden_quad.jpg">
<figure>
	<img src="images/quadcopters/goggles.JPG">
	<figcaption>Me wearing the video goggles.</figcaption>
</figure>
<h4>Hubsan</h4>
<p>At the same time that I was flying my wooden quadcopter, I also had a tiny plastic quadcopter that I flew line-of-sight.</p>
<img src="images/quadcopters/small.JPG">
<h4>Honeybadger Delrin Quadcopter</h4>
<p>Eventually I felt the need to build another quadcopter. This time, I bought a 400mm delrin (plastic) frame and bigger motors.</p>
<img src="images/quadcopters/delrin_quad_top.jpg">
<img src="images/quadcopters/delrin_quad.jpg">
<img src="images/quadcopters/delrin_broke.jpg">
<p>But that one broke way too easily, so I bought a pre-built carbon-fibre quadcopter with a 220mm diagonal.</p>
<img src="images/quadcopters/cf_quadcopter.JPG">
<img src="images/quadcopters/cf_quadcopter2.JPG">
<p>While the frame was unbreakable, the electronics were very breakable. After breaking about 10 propellers and getting mud in all four motors, I decided to take a break from quadcopters. My next flying toy will be a foam airplane with a camera on it. I haven't decided which one yet.</p>
