
<div class='btn-group'>
  <a class='btn btn-default' ui-sref="projects.fantasy_coop_game">Fantasy Coop Game</a>
  <a class='btn btn-default' ui-sref="projects.mutespeak">Mutespeak</a>
  <a class='btn btn-default' ui-sref="projects.website_info">This Website</a>
  <a class='btn btn-default' ui-sref="projects.offclass_finder">Offclass Finder</a>
  <a class='btn btn-default' ui-sref="projects.ufc">Unmanned Flying Club Website</a>
  <a class='btn btn-default' ui-sref="projects.swf">Shopping With Friends</a>
  <a class='btn btn-default' ui-sref="projects.travelling_salesbot">Travelling Salesbot</a>
  <a class='btn btn-default' ui-sref="projects.weird_nums">Weird Numbers</a>
</div>

<div class="fluid-container">
  <div class="col-sm-9 col-lg-10">
    <div ui-view></div>
  </div>
</div>
