<h2>Resume</h2>
<div class=".text-center">
	<p class="text-center">Mike Adkison</p>
	<p class="text-center">mikeadkison@gmail.com&nbsp&nbsp|&nbsp&nbsp+1-919-413-4850&nbsp&nbsp|&nbsp&nbspmikeadkison.com
</div>
<h4>Skills</h4>
<div class="row">
	<div class="col-sm-6">
		<h5>Proficient</h5>
		<ul class="list-unstyled">
			<li><strong>Programming Languages:</strong> Java, Python, C</li>
			<li><strong>Technologies: </strong> git, libGDX, MySQL, Android, JavaFX, json, Dia, Slack, Gimp, Eclipse, Android Studio</li>
			<li><strong>Operating Systems:</strong> Debian-based, Windows</li>
			<li><strong>Other: Agile</strong> 
		</ul>
	</div>
	<div class="col-sm-6">
		<h5>Familiar (Basic experience)</h5>
		<ul class="list-unstyled">
			<li><strong>Programming Languages:</strong> JavaScript, PHP, ASM, Bash</li>
			<li><strong>Technologies: </strong> HTML/CSS, Apache HTTP Server, JUnit, Bootstrap, AngularJS, Drupal, Quartus II/DE2 with Cyclone II FPGA, Oscilloscopes, OpenSCAD, digital logic analyzers, VHDL, breadboarding, vim, Weka 3</li>
			<li><strong>Operating Systems:</strong> CentOS</li>
		</ul>	
	</div>
</div>
<hr>
<h4>Work Experience</h4>
<h5 class="resume-work-title">Android Development Internship</h5>
Bmarko Mobility <div class="pull-right">Summer 2015</div>
<ul class="resume-work-list">
	<li>Helped develop an Android application in a startup Agile environment.</li>
	<li>	Worked closely with designers to improve the UI.</li>
</ul>
<br>
<br>
<h5 class="resume-work-title">Software Development Internship</h5>
Vonage Business Solutions <div class="pull-right">Summer 2014</div>
<ul class="resume-work-list">
	<li>Improved browser-based customer service tools used to diagnose VoIP problems</li>
	<li>Modified application deployment process to be more efficient</li>
	<li>Gained experience with Agile development</li>
</ul>
<hr>
<h4>Education</h4>
<h5 class="resume-work-title">Bachelor of Computer Science</h5>
Georgia Institute of Technology <div class="pull-right">2013-2017</div>
<p>Specialized in Artificial Intelligence and Devices.</p>
