<h2>Automute</h2>
<p>
If you play <a target="_blank" href="http://www.leagueoflegends.com">League of Legends</a>, you know how toxic/rude other players in your games can be. This tool will automatically mute everyone in your game who isn't you or on your friend's list. It's only slightly easier than muting them manually. It uses the Riot Games API to figure out who to mute and a Java robot to type the mute messages for you.
</p>
<p>
	<a class="btn btn-sm btn-info" href="https://github.com/mikeadkison/LoL-automute" target="_blank">automute</a>
</p>
