<h2>Offclass Finder</h2>
<p>
Finds out who has been breaking the rules at <a href="http://www.tf2center.com" target="_blank">TF2Center</a> by scraping info from the logs on <a href="http://www.logs.tf" target="_blank">logs.tf</a>. You'll need java installed to run it. It will take about 30 seconds before the GUI opens. During this time, logs.tf is being scraped.
</p>
<p>
I used <a href="https://jsoup.org/">jsoup</a> for web scraping.
</p>
<p>
<a class="btn btn-sm btn-info" href="https://github.com/mikeadkison/offclass-finder" target="_blank">github</a>
</p>
