
<div class='row'>
  <h3></h3>
  <div class="col-sm-6 col-md-4">
    <h3>Fantasy Co-op Game</h3>
    <p>An online co-op RPG in the early stages of development</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.fantasy_coop_game">Learn More</a></p>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Mutespeak</h3>
    <p>A rough tool to help mute gamers communicate with their team using traditional VoIP applications.</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.mutespeak">Learn More</a></p>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-6 col-md-4">
    <h3>This website!</h3>
    <p>Built using AngularJS and Bootstrap.</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.website_info">Learn More</a></p>
  </div>
  <div class="clearfix visible-md-block visible-lg-block"></div>
  <div class="col-sm-6 col-md-4">
    <h3>Offclass Finder</h3>
    <p>A web scraping tool which automatically finds who has been breaking the rules at <a href="http://www.tf2center.com" class="main-link">TF2 Center</a>, a website for organizing competitive-format games for <a href="https://en.wikipedia.org/wiki/Team_Fortress_2" class="main-link">TF2</a> players.
                </p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.offclass_finder">Learn More</a></p>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-6 col-md-4">
    <h3>UFC</h3>
    <p>I created the website for the <a class="main-link" href="http://ufc.gtorg.gatech.edu/">Unmanned Flying Club</a> at Georgia Tech.
                </p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.ufc">Learn More</a></p>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>SWF</h3>
    <p>An Android application for a semester-long course</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.swf">Learn More</a></p>
  </div>
  <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
  <div class="col-sm-6 col-md-4">
    <h3>Travelling Salesbot</h3>
    <p>Programming a robot using an FPGA and assembly.</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.travelling_salesbot">Learn More</a></p>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Weird Numbers</h3>
    <p>Finding pairs of numbers with a peculiar property.</p>
    <p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.weird_nums">Learn More</a></p>
  </div>
	<div class="col-sm-6 col-md-4">
		<h3>LoL Automute</h3>
		<p>Automatically mute everyone who isn't on your friend's list in LoL.</p>
		<p><a class="btn btn-sm btn-info pull-right" ui-sref="projects.automute">Learn More</a></p>
	</div>
</div>


