<h2>Tip Line App</h2>
<p>For two semesters, I worked with four other students to create an Android application that will be used by airline employees to report evidence of human trafficking. Human trafficking victims are often moved through airports. In fact, Atlanta (where I go to school), has an airport which "is known as the core of trafficking in the United States" (<a target="_blank" href="https://en.wikipedia.org/wiki/Human_trafficking">Wikipedia</a>).
</p>
<p>
Because airports are crucial hubs for human trafficking, <a target="_blank" href="http://airlineamb.org/">Airline Ambassadors International</a> trains airline employees to recognize and report signs of human trafficking in airports. The app I worked on will allow employees to gather and submit picture/video/audio/text evidence to authorities with their smartphones or call the appropriate emergency/hotline phone number. Here are some screenshots.
</p>
<div class="row">
<div class="col-sm-12 col-md-4">
<img src="images/tipline/main_page.png" class="img-responsive">
</div>
<div class="clearfix visible-sm-block"></div>
<div class="col-sm-12 col-md-4">
	<img src="images/tipline/gps_lock.png" class = "img-reponsive">
</div>
<div class="clearfix visible-sm-block"></div>
<div class="col-sm-12 col-md-4">
<img src="images/tipline/phone_nums.png">
</div>
<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
<div class="col-sm-12 col-md-4">
<img src="images/tipline/camera_tip.png">
</div>
<div class="clearfix visible-sm-block"></div>
<div class="col-sm-12 col-md-4">
<img src="images/tipline/audio_tip.png">
</div>
<div class="clearfix visible-sm-block"></div>
<div class="col-sm-12 col-md-4">
<img src="images/tipline/confirm.png">
</div>
<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
</div>

<p>I mostly worked on the calling functionality of the app. Depending on the caller's country location, different emergency numbers should be called, so I set up the app to use the phone's GPS to determine the caller's country and give them a list of appropriate numbers to choose from. I made it so that our clients, Airline Ambassadors, can remotely update the list of phone numbers available to the application. I also implemented the photo/video evidence functionality and some of the UI for the app.</p>

Source code here:
<a class="btn btn-sm btn-info" target="_blank" href="https://github.com/TIPLine/TIP-Line">github</a>
<br>
<a class="btn btn-sm btn-info" target="_blank" href="https://play.google.com/store/apps/details?id=io.github.tipline.android_app&hl=en">Google Play</a>
