<h2>Unmanned Flying Club Website</h2>
<p>
Back when I flew quadcopters, I was a member of the Unmanned Flying Club at Georgia Tech. I made their website using <a href="https://www.drupal.org/">Drupal</a>. It's a place where club members can go to see events that will be happening and non-members can go to learn about the club and see cool images of UAVs. The site is hosted on Georgia Tech web servers.
</p>
<p>
<a class="btn btn-sm btn-info" href="http://ufc.gtorg.gatech.edu/" target="_blank">UFC</a>
</p>
<p>
<img src="images/ufc/ufc_front_page1.png">
<img src="images/ufc/ufc_gallery.png">
</p>
